In [93]:
import pandas as pd
import os

In [94]:
# Import the data. Create a DataFrame
student_data = os.path.join(r"C:\Users\15152\Desktop\DataClass\Assignments\School_District_Analysis\new_full_student_data.csv")
student_df = pd.read_csv(student_data)

In [95]:
# Confirm that Pandas correctly imported the data
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type,school_budget
0,103880842,Travis Martin,9th,Sullivan High School,59.0,88.2,Public,961125
1,45069750,Michael Brown,9th,Dixon High School,94.7,73.5,Charter,870334
2,45024902,Gabriela Lucero,9th,Wagner High School,89.0,70.4,Public,846745
3,62582498,Susan Richardson,9th,Silva High School,69.7,80.3,Public,991918
4,16437227,Sherry Davis,11th,Bowers High School,NaN,27.5,Public,848324

In [96]:
# 1. Display the average budget for each school type by using the groupby and mean functions.
school_budget_df = student_df.groupby("school_budget")
school_budget_df

In [97]:
# 2. Display the average budget for each school type by using the groupby and mean functions.
school_type_school_budget_df = student_df.groupby(["school_type", "school_budget"])
school_type_school_budget_df["school_budget"].mean()

school_type  school_budget
Charter      832670           832670.0
             840132           840132.0
             870334           870334.0
             889699           889699.0
             893368           893368.0
             960726           960726.0
Public       817615           817615.0
             846745           846745.0
             848324           848324.0
             912243           912243.0
             956438           956438.0
             957299           957299.0
             959474           959474.0
             961125           961125.0
             991918           991918.0
Name: school_budget, dtype: float64

In [100]:
# total number of students at each school, and sort those numbers from largest to smallest by using the groupby, count, and sort_values  functions.
school_name_school_count_df = student_df.groupby(["school_name"])
school_name_school_count_df["school_name"].count()
# school_name_school_count_df.sort_values("school_name",ascending=False)

school_name
Bowers High School        1051
Campbell High School       539
Campos High School         717
Chang High School          213
Dixon High School         2074
Fisher High School        1060
Green High School         2602
Montgomery High School    2690
Odonnell High School       612
Richard High School        718
Silva High School         1452
Sullivan High School      1273
Turner High School        1122
Wagner High School        2018
Woods High School         1373
Name: school_name, dtype: int64

In [99]:
# Find the average math score by grade for each school type by using the groupby and mean functions.
math_score_by_grade_df = student_df.groupby(["school_type","grade"])
math_score_by_grade_df["school_type","grade", "math_score"].mean()

C:\Users\15152\AppData\Local\Temp\ipykernel_11996\864475211.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  math_score_by_grade_df["school_type","grade", "math_score"].mean()

                   math_score
school_type grade
Charter     10th    66.308433
            11th    67.894369
            12th    60.053632
            9th     70.133881
Public      10th    63.819853
            11th    59.097131
            12th    63.605841
            9th     63.669625

In [ ]:
# Brief summary of your findings:
# 1. The fist thing i would like to mention on this summary is about importing data. It is very important step of data analysis using 
# panda. However, knowing the directory path is the key here. One thing I learned from stackoverflow, the use of (r") to import 
# your data. I found it very helpful and reduced the hassle of importing data.
# 2. The other thing, summarization of data using panda,I found it interesting and easy unlike other data analysis tools.